<%@ tag language="java" pageEncoding="ISO-8859-1"%>

<div>
	<form method="POST" action="j_security_check">
		E-Mail: <input type="text" name="j_username" /><br/>
		Password: <input type="password" name="j_password" /><br/>
		<input type="submit" value="Login" />
	</form>
</div>