<%@ tag language="java" pageEncoding="ISO-8859-1"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ attribute name="objectId" required="true" %>
<!-- I NEED A curPlaylist ATTRIBUTE SET IN WHATEVER JSP OR TAG THAT HOSTS THIS TAG,
		IF YOU WANT THE RATING TO SUBMIT SUCCESSFULLY THAT IS... ;) -->
	<form method="post" action="PlaylistRanking" >
		<input type="hidden" name="curPlaylistId" value="${objectId }" />
		<input type="radio" name="curRating" value="-1"/>-1 |
		<input type="radio" name="curRating" value="1"/>+1
		<input type="submit" value="Submit Rating"/>
	</form>
