<%@ tag language="java" pageEncoding="ISO-8859-1"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ attribute name="objectId" required="true" %>

<div>
	<form method="post" action="SongRanking" >
		<input type="hidden" name="curSongId" value="${objectId }" />
		<input type="radio" name="curRating" value="-1"/>-1 |
		<input type="radio" name="curRating" value="1"/>+1
		<input type="submit" value="Submit Rating"/>
	</form>
</div>