h1,h2,h3,p,nav ul,form { margin:0; padding:8px;  }
input,textarea { margin:0 0 8px 0; }
table { margin:8px; }
.post_content, #Comments, #AboutContent, .comment { padding:8px; }
.post_content p, #AboutContent p { padding:8px 0; }

h1 { text-shadow:0 0 4px #666; }
h1,h2,h3 { font-family:Arial Black; }
h3 { border-bottom:1px solid #000; margin:8px; padding:0; }
div.post { margin:8px; }
div.title { font-size:120%; font-weight:bold; font-family:Arial Black; }
table { width:784px; }

header,nav,article { width:800px; margin:0 auto; border:1px solid #000; box-shadow:0 0 4px #999; }
header { background:#99b; }
nav { background:#aac; }

nav li { display:inline; padding-right:20px; }
nav a { color:#000; text-decoration:none; font-family:Arial; }
nav a:hover { text-decoration:underline; }
nav a:active { color:#060; }

#Index nav li:nth-of-type(1) { font-weight:bold; }
#Gallery nav li:nth-of-type(2) { font-weight:bold; }
#About nav li:nth-of-type(3) { font-weight:bold; }

fieldset { margin:8px 32px; padding:8px; }
legend { font-size:80%; font-weight:bold; color:#666; }
form#WebsiteSettings input[type=submit] { margin-top:16px; font-size:120%; }
input#Title { width:280px; }
input[type=submit].linkify { background:none; border:0; color:#f00; text-decoration:underline; }
form#WebsiteSettings label { width:140px; display:block; float:left; }

form#CommentForm { border:1px dashed #ddd; }
#Commments { border:1px solid #f00; }
#Comments .author { font-weight:bold; }
#Comments .author:before { content:"-"; }

/* ------MISC-------- */
#AdminControl, #LinksForLoggingOn { margin:8px; float:right; }

.img { float:left; }
.description { background:#EEE; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.bug { color:#F00; }